.notification {
    background-color: rgb(155, 57, 57);
    margin: 19px 0px;
    padding: 20px;

    border-radius: 20px;

    display: flex;
    text-align: left;
}

.not-data {
    margin-left: 30px;
}

.not-photo {
    margin: auto 0;
    min-width: 100px;
}